<div class="ui grid container">
  <div class="middle aligned row">
    <div class="five wide column" id="title">
      {% unless page.url == "/" %}
        <h1 class="ui header engnr title"><a href="/">{{ site.title }}</a></h1>
      {% endunless %}
    </div>
    <div class="eleven wide right aligned column">
      <div class="ui text menu">
    <!--
        <a class="active teal item">Компания</a>
        <a class="item">Вакансии</a>
        <a class="item">Мероприятия</a>
        <a class="item">Блог</a>
        -->
        <a class="right floated item" href="mailto:{{ site.email }}">Связаться с Инженерной</a>
      </div>
    </div>
  </div>
</div>

