

$linkColor: rgb(66, 139, 202);
$linkUnderlineColor: rgba(66, 139, 202, 0.2);

$visitedLinkColor: rgb(106, 39, 149);
$visitedLinkUnderlineColor: rgba(106, 39, 149, 0.2);

$hoverLinkColor: rgb(219, 40, 40);
$hoverLinkUnderlineColor: rgba(219, 40, 40, 0.2);

$light-teal: #E8FCF7;

h1, h3 {
  font-weight: bold !important;
}

body {
  padding: 20px 0px;
}

a {
  padding-bottom: 0px;
  border-bottom: 1px solid;
  color: $linkColor;
  border-color: $linkUnderlineColor;
  line-height: 20px;

  &:hover, &:visited:hover {
    text-decoration: none;
    color: $hoverLinkColor;
    border-color: $hoverLinkUnderlineColor;
  }
  &:visited {
    color: $visitedLinkColor;
    border-color: $visitedLinkUnderlineColor;
    text-decoration: none;
  }
}


#main-title, #main-description {
  visibility: hidden;
}

#description {
  padding: 50px 0;
  margin-bottom: 1em;
  h2 {
    font-size: 30px !important;
  }
}


.ui.secondary.button {
  color: #1A534B;
}

.masthead.segment {
  min-height: 550px;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  margin-top: 2em;
}

.ui.text.menu > a.item {
  display: inline !important;
  font-size: 18px;
  margin: 0px 1em;
  padding: 2px 0px;
  border-color: rgba(0, 30, 15, .3) !important;
  border-bottom: 1px solid;

  &:hover {
    border-color: rgba(0, 30, 15, .8) !important;
  }

  &.active {
    border-bottom: 0px;
  }
}

.engnr.note {
  font-size: 14px !important;
  color: #888;
}

.engnr.mission {
  padding: 100px 0px !important;
}


